<div>
	<form action="">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="StubCode" id="sCode" value='{{ code }}'>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Teacher ID" id="teachID" value='{{ cTid }}'>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Subject ID" id="subjID" value='{{ cSid }}'>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Schedule" id="cSched" value='{{ sched }}'>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Time Start" id="tStart" value='{{ start }}'>
    </div>
    <div class="form-group">
			<input type="text" class="form-control" placeholder="Time End" id="tEnd" value='{{ end }}'>
		</div>
		<div id="btnSave" class="form-group text-center">
			<input type="button" value="Save" class="btn btn-primary col-3" onclick="editClasses(this.form)">
		</div>
	</form>
</div>