{% if classTeacherRating %}
    <input id="subjectID" type="text" value="{{ subjectID }}" hidden>
    <table class="table table-hover">
        <thead>
            <th>StubCode</th>
            <th>Teacher</th>
            <th>Rating</th>
        </thead>
        <tbody>
            {% for row in classTeacherRating %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[2] }}</td>
                <td>
                    <div id="{{ row[0] }}" class="stars"></div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>NO CLASSES</h1>
{% endif %}

<script>
    $(document).ready(function () {

        $.post('/subjectTeachersRaw', {subjectID : $("#subjectID").val() }, function(data){
            var _ratings = JSON.parse(data);

            $(".stars").each(function(index){
                $(this).rateYo({rating: _ratings[index][3], readOnly: true});
            });
        });

    });
</script>