{% extends "layout.html" %}

{% block body %}
<form class="form-signin">
  <h1 class="h1 pb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="check(this.form)">Log in</button>
</form>
<script language="javascript">
  function check(form)
  {
    if(form.inputUsername.value == "admin" && form.inputPassword.value == "admin")
    {
      window.open('/home');
    }
    else
    {
      alert("Invalid Username or Password. Please try again.");
    }
  }
</script>
{% endblock %}