{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Lists of Students</h1>
    <div class = "container mt-3">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      
      <table class= "table table-hover">
        <thead>
          <th>Student ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Course</th>
          <th>Year</th>
        </thead>
        <tbody id="myTable">
          {% for student in students %}
            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
              </ul>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
  </div>
{% endblock %}